@font-face {
    font-family: manrope;
    src: url(../../fonts/Manrope-Light.ttf)
}
@font-face {
    font-family: manrope-bold;
    src: url(../../fonts/Manrope-Bold.ttf)
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/Roboto-Bold.ttf)
}
@font-face {
    font-family: cereal;
    src: url(../../fonts/AirbnbCereal_W_Md.ttf)
}