// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr7a:#222222;
$clr8: #b0b0b0;
$clr9: #ff385c;
$clr10:#717171;
$clr11: #ddd;
$clr12:#ebebeb;
$clr13:#f7f7f7;
$clr14: #484848;
$clr15: #606266;

// layout
$main-padding: 5rem;
$header-min-height: 5rem;
$header-max-height: 10rem;
$logo-line-height: 1.2rem;

// filter
$filter-wide-max-width: 53.1rem;
$filter-wide-min-width: 46.8rem;
$filter-narrow-width: 21.4rem;
$filter-narrow-height: 2.93rem;
$filter-wide-height: 4.1rem;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;